@font-face {
    font-family: linowrite;
    src: url("../fonts/linowrite.ttf");
  }
  @font-face {
    font-family: bellerose;
    src: url("../fonts/Bellerose.ttf");
  }
  html, input, button, .ui-slider-handle {
  font-family: 'Arial', 'Fira Mono', 'Ubuntu Mono', monospace;
  }
  
  html {
    height: 100%;
  }
  body {
    height: 100%;
  }

  ul {
    width: 100%;
    max-width: 1300px;
  }
  
  .survey-window {
    margin: 1%;
    width: 98%;
    height: 98%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .survey-display {
    width: 100%;
    height: 93%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;    
  }

  .survey-page {
    width: 100%;
    height: 100%;
    display: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    overflow: visible;
  }

  .nav-bar {
    width: 100%;
    height: 7%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
  }

  img {
    height: 50%;
    width: 50%;
    object-fit: contain;
  }

  .fb_img {
    height: 60%;
    width: auto;
  }

  p {
    width: 100%;
  }

  .base-p {
    max-width: 1300px;
  }


  /* Specific CSS for Page 3-4*/
  .page-3-graph {
    height: 80%;
    width: 80%;
  }

  .page-3-upper {
      display: flex;
      height: 30%;
      width: 100%;
      align-content: center;
      justify-content: flex-start;
  }

  .page-3-middle {
    display: flex;
    height: 70%;
    width: 100%;
    align-content: flex-start;
    justify-content: center;
}

  .page-4-left {
    display: flex;
    height: 100%;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }
  .page-4-right {
    display: flex;
    height: 100%;
    width: 50%;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
  }

  .page-4-graph {
    width: 75%;
    height: auto;
    display: none;
  }

  #page-4-graphFour-p {
    display: flex;
    flex-wrap: wrap;
  }

  .graph-container {
    display: flex;
    height: 100%;
    width: 33%;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Loopy inputs CSS */
  .loopy-link-container {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: flex-start;
  }

  .loopy-input {
    width: 40%;
    text-align: left; 
    color: grey;
  }

  .loopy-alert {
    display: flex;
    width: 100%;
    justify-self: flex-start;
  }

  /* CSS for graph tutorial */

  .video-container {
    width: 90%;
  }

  video {
    width: 70%;
  }

  #submit-quiz-container {
    display: flex;
    justify-content: flex-end;
  }
  /* Feedback page CSS for dynamical inference */ 
  .graph-pred-label {
    display: flex;
    height: 10%;
    width: 100%;
    align-content: center;
  }

  .graph-pred-rec {
    display: flex;
    width: 100%;
    height: 90%;
    flex-wrap: nowrap;
  } 

  .graph-pred-rec-right {
    display: flex;
    flex-wrap: wrap;
    height: 88%;
    width: 98%;
    flex-flow: column;
    margin: 2%;
  }

  .graph-pred-rec-left {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 60%;
    flex-flow: column;
    margin-right: 2%;
  }

  
    /* Chart.js specific CSS */
  #progressPlot {
      width: 100%;
  }

  /* Slider and chart container for experiment page */
  .game-display {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
  }

  .slider_container {
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 45%;
    justify-content: left;
    align-content: center;
  }

  .chart_container {
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 90%;
    justify-content: center;
    align-content: center;
  }
 
  .graph-left-side {
    padding: 0%;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 55%;
    justify-content: center;
    align-content: center;
  }

  .instruction-reminder {
    padding: 0%;
    display: flex;
    width: 100%;
    height: 10%;
    font-size: 8pt;
  }

  /* Button container */
   .button_container {
    width: 40%;
    height: 10%;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: flex-end;
}

 .val-link-button {
   height: 7%;
   width: 100%;
   display: flex;
   justify-content: flex-end;
 }

 #start_button {
   align-self: flex-end;
 }

 button {
    margin: 3px;
    justify-content: center;
 }

  /* Slider specific CSS */
  .slider_box_container {
    width: 45%;
    height: 90%;
    display: flex;
  }

  .slider_box {
    width: 32%;
    height: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
  }

  .slider-label {
      margin: auto 10% auto 5%;
  }

  .slider {
      height: 55%;
      margin-bottom: 43%;
      align-self: center;
  }

  #custom-handle-1, #custom-handle-2, #custom-handle-3 {
    width: 3em;
    height: 1.6em;
    left: -150%;
    margin-top: -.8em;
    text-align: center;
    line-height: 1.6em;
  }

  .feedback-container {
    width: 55%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
  }

  .feedback-slider-container {
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    border-top: 1px dotted black;
    margin-bottom: 0.2%;
    margin-top: 0.2%;
    margin-right: 5%;
  }

  .feedback-slider {
    width: 120px;
    margin-left:2%;
  }

  .label-fb {
    height: 50%;
    width: 90%;
  }

  .fb-p {
    font-size: smaller;
  }

  .ui-checkboxradio-label{
    margin-top: 1%;
  }

  #reason-qual {
    height: 80%;
    width: 98%;
    align-self: center;
  }

  #tech-fb {
    width: 100%;
    align-self: center;
  }

   /* Option containers */
  .ui_option_container {
    display: flex;
    width: 100%;
  }

  .ui_option_col1 {
    display: flex;
    width: 15%;
    flex-wrap: wrap;
  }

  .ui_option_col2 {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
  }


 
  /* Parameter container CSS */
  .parameter_container {
    margin: 1% 5% 1% 2%;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
  }

  label {
    padding-top: 2px;
    font-size: 10pt;
    text-align: right;
}

  input {
    text-align: center;
  }

  /* Presets */
  .selector_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: right;
  }

  .preset_container {
    width: 90%;
    justify-content: center;
  }

  #preset_selector-button {
    width: 90%;
  }

  .overflow { height: 200px; }

  .condition_container {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: right;
  }

  /* Custom flexible table CSS */
  .flex_table {
      margin: 1% 5% 1% 2%;
      display: flex;
      width: 100%;
      flex-wrap: wrap;
  }

  .flex_table_row {
      display: flex;
      width: 100%;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      text-align: center;
  }

  .flex_table_head {
      font-weight: bold;
      background-color: cornflowerblue;
      border: 1px solid black;
  }

  .flex_table_cell {
    justify-content: center;
    align-items: center;
}

  .flex_table_cell, .flex_table_head {
    display: flex;
      height: 90%;
      width: 100%;
      justify-content: center;
      align-items: center;
      margin: 1px;
  }

  .coef_input {
    display: table-cell;
    height: 40%;
    width: 80%;
    border: none;
    padding: none;
    font-size: 10pt;
    text-align: center;
}